
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.player {
  width: 50px;
  height: 50px;
  position: absolute;
}

#player1 {
  background-color: teal;
}
#player2 {
  background-color: rgb(0, 128, 38);
}
