
body {
  background-color:rgb(18, 37, 254); ;
}

#board {
  width: 440px;
  height: 440px;
  top: 325px;
  left: 725px;
  border: 7px solid rgb(0, 0, 0);
  background-color: rgb(18, 37, 254);
  position: absolute;
}
.player {
  width: 50px;
  height: 50px;
  position: absolute;
  border: 5px solid rgb(0, 0, 0);
}

#player1 {
  background-color: rgb(231, 7, 7);
}
#player2 {
  background-color: rgb(242, 255, 0);
  
}
