
body {
  background-color: darkgreen;
}

#board {
  width: 1200px;
  height: 750px;
  border: 1px solid white;
  background-color: black;
  position: absolute;
  left: 380px;   
  top: 75px;  
}

#leftPaddle {
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 125px;
  position: absolute;
  left: 0px;   
  top: 175px; 
  border-radius: 100px; 
}
#rightPaddle {
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 125px;
  position: absolute;
  left: 1190px;   
  top: 175px;  
  border-radius: 100px;
}
#ball {
  background-color: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 580px;   
  top: 200px;  
  border-radius: 100px;
}