/*background image for board is from google snake game*/
body {
  background-image: url("arcadee.jpg");
}
#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(255, 255, 255);
  background-image: url("bg.jpg");
  position: relative;
  left: 670px;
  top: 170px;
}

#score {
  position: absolute;
  left:5px;
  top:10px;
  color: rgb(0, 30, 255);
  background-color:rgb(0, 0, 0)

}
#highScore{
  position: absolute;
  left:145px;
  top:10px;
  color: rgb(0, 30, 255);
  background-color:rgb(0, 0, 0)

}
.radial-swirl {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(circle, red, yellow, green, blue);
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(12, 148, 150);
  z-index: 2;
}

#snake-head {
  background-color: rgb(8, 100, 92);
}

.apple {
  background-color: rgb(255, 0, 0);
  z-index: 1;
}